<mat-tab-group mat-align-tabs="start" class="tabs-menu" (selectedTabChange)="handleTabChange($event)">
    <mat-tab label="Generate Data" >
        <div class="content">
            <button mat-raised-button color="primary" 
                    aria-label="Generates dummy data"
                    (click)="generateData()">Generate</button>
        </div>
    </mat-tab>
    <mat-tab label="Aggregation">
        <div class="content">
            <span>Aggregation time goes here!</span>
        </div>
    </mat-tab>
</mat-tab-group>